.sparkle {
    position: absolute;
    background-color: gold;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
    animation: sparkleAnimation 1.5s ease-in-out forwards;
  }
  
  @keyframes sparkleAnimation {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.4;
    }
    100% {
      transform: scale(0.5);
      opacity: 0;
    }
  }
  